div(style='position:relative')
  input.form-control(
    type='text'
    autocomplete='off'
    ng-model='value'
    ng-blur='onBlur($event)'
    placeholder='{{ placeholder }}'
    typeahead='value[displayKey] for value in getOptions($viewValue)'
    typeahead-editable='false'
    typeahead-on-select='selectOption($item)'
    typeahead-wait-ms='300'
  )
  .em-clear-button(ng-show='value')
    a(ng-click='clear($event)')
      span.glyphicon.glyphicon-remove
